
\.DS_Store

ifood-mobile-test\.xcworkspace/xcuserdata/marciogarcia\.xcuserdatad/UserInterfaceState\.xcuserstate

ifood-mobile-test\.xcworkspace/xcuserdata/marciogarcia\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
