//
//  Staging.xcconfig
//  ifood-mobile-test
//
//  Created by Marcio Garcia on 30/11/18.
//  Copyright © 2018 oxltech.com. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

IF_APP_NAME = iFood Mobile Staging
IF_APP_VERSION = 1.0
IF_APP_BUNDLE_ID = com.oxltech.ifood-mobile-test.staging
IF_APP_ICON = AppIconStaging
IF_ENVIRONMENT = staging
IF_API_PROTOCOL = https
IF_BASE_URL = language.googleapis.com
IF_API_KEY = key
IF_API_SECRET = key
